In [1]:
import pandas as pd

In [2]:
""" Data Selection in Series """
# behaves like a dictionary

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [3]:
####### Series as a dictionary

data['d']

1.0

In [4]:
'a' in data

True

In [6]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [8]:
# add item
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [9]:
########## Series as a 1D array
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
# integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [12]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [13]:
# fancy indexing
data[['a','e']]

a    0.25
e    1.25
dtype: float64

In [18]:
############ Indexers:loc, iloc, and ix
data1 = pd.Series(['a','b','c'], index=[1,3,5])
data1

1    a
3    b
5    c
dtype: object

In [19]:
data1[1]

'a'

In [20]:
data[1:3]

b    0.50
c    0.75
dtype: float64

In [23]:
#  loc attribute allows indexing and slicing that always references the explicit index
data1.loc[1]

'a'

In [24]:
data1.loc[1:3]

1    a
3    b
dtype: object

In [25]:
data1.loc[3:5]

3    b
5    c
dtype: object

In [26]:
# The iloc attribute allows indexing and slicing that always references the implicit Python-style index
data1.iloc[1]

'b'

In [27]:
data1.iloc[1:3]

3    b
5    c
dtype: object

In [31]:
""" Data Selection In DataFrame """

# as a dictionary
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})

In [32]:
data = pd.DataFrame({'area': area, 'population': population})
data

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

In [33]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [34]:
data['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [35]:
# access through column names
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [36]:
data.population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [37]:
data.area is data['area']

True

In [38]:
data.pop

<bound method NDFrame.pop of               area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135>

In [40]:
data['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [41]:
data.pop is data['population']

False

In [44]:
# pop/area
data['density'] = population/area

data

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

In [45]:
""" DataFrame as a two dimensional array """
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [46]:
data.keys()

Index(['area', 'population', 'density'], dtype='object')

In [47]:
data.T

,California,Texas,New York,Florida,Illinois
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [48]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [49]:
data.values[1]

array([6.95662000e+05, 2.64481930e+07, 3.80187404e+01])

In [50]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [51]:
# loc
data.iloc[:3,:2]

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127

In [56]:
data.loc[:'Texas', :'New York'] # !!!!

KeyError: 'New York'