In [9]:
import numpy as np
import pandas as pd

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data[1]

0.5

In [16]:
# index can be strings
data1 = pd.Series([0.25, 0.50, 0.75, 1.0],index=['a', 'b', 'c','d'])
data1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
data1['a']

0.25

In [18]:
# non-sequential index
data2 = pd.Series([0.25, 0.50, 0.75, 1.0],index=[9,8,1,5])
data2

9    0.25
8    0.50
1    0.75
5    1.00
dtype: float64

In [19]:
data2[9]

0.25

In [22]:
""" Series as specialized dictionary """
pop_dict = {
    "kenya": 2,
    "uganda": 3,
    "tanzania": 1
}

In [23]:
pop_dict

{'kenya': 2, 'uganda': 3, 'tanzania': 1}

In [24]:
pop_dict['kenya']

2

In [26]:
pop = pd.Series(pop_dict)
pop

kenya       2
uganda      3
tanzania    1
dtype: int64

In [27]:
pop['kenya':'uganda']

kenya     2
uganda    3
dtype: int64

In [ ]:
""" Constructing Series objects """

In [28]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [30]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [31]:
pd.Series({2:"a",3:"b",4:"c"})

2    a
3    b
4    c
dtype: object

In [32]:
""" DataFrame """

# dictionary
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [33]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [34]:
# joining the two
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [35]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [36]:
states.columns

Index(['population', 'area'], dtype='object')

In [39]:
""" DataFrame as Specialized Dictionary """
states['area']
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [43]:
""" Constructing DataFrame Objects"""
# from a single series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [44]:
# from a list of dictionsries
dat = [{'a':i, 'b':2*i} for i in range(3)]
dat

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [45]:
pd.DataFrame(dat)

   a  b
0  0  0
1  1  2
2  2  4

In [46]:
# it fills missing field with NaN
pd.DataFrame([{'a':1,'b':2},{'c':3,'d':4}])

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  NaN  3.0  4.0

In [48]:
# from a dict of series objects
pd.DataFrame({'population': population,
             'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [49]:
# From a two dimensional numpy array
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar'],
            index=['a','b','b']
            )

        foo       bar
a  0.447923  0.765438
b  0.289766  0.564595
b  0.060998  0.079141

In [50]:
# from a numpy structured array
A = np.zeros(3, dtype=[('A','i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [51]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [52]:
""" The Pandas Index Object"""
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [53]:
# Index as immutable array
ind[1]

3

In [54]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [55]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [56]:
# they are immutable
ind[1]=10

TypeError: Index does not support mutable operations

In [63]:
# Index as ordered set
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2,3, 5, 7, 11])

In [64]:
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [65]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [66]:
indA ^ indB # symetric difference

Int64Index([1, 2, 9, 11], dtype='int64')