In [9]:
import numpy as np
import pandas as pd

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data[1]

0.5

In [16]:
# index can be strings
data1 = pd.Series([0.25, 0.50, 0.75, 1.0],index=['a', 'b', 'c','d'])
data1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
data1['a']

0.25

In [18]:
# non-sequential index
data2 = pd.Series([0.25, 0.50, 0.75, 1.0],index=[9,8,1,5])
data2

9    0.25
8    0.50
1    0.75
5    1.00
dtype: float64

In [19]:
data2[9]

0.25

In [22]:
""" Series as specialized dictionary """
pop_dict = {
    "kenya": 2,
    "uganda": 3,
    "tanzania": 1
}

In [23]:
pop_dict

{'kenya': 2, 'uganda': 3, 'tanzania': 1}

In [24]:
pop_dict['kenya']

2

In [26]:
pop = pd.Series(pop_dict)
pop

kenya       2
uganda      3
tanzania    1
dtype: int64

In [27]:
pop['kenya':'uganda']

kenya     2
uganda    3
dtype: int64

In [ ]:
""" Constructing Series objects """

In [28]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [30]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [31]:
pd.Series({2:"a",3:"b",4:"c"})

2    a
3    b
4    c
dtype: object

In [ ]:
""" DataFrame"""